html {
    /* -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    /* https://stackoverflow.com/a/4407335 */
  }

.editZone {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
}

.editTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview__container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
}

.levelValue {
    padding: 2vh;
}

.levelSelect__imageContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

.overview__block {
    font-size: 5vh;
    text-align: center;
    padding: 2vh;
    width: 4em;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#symbolValue {
    min-width: 15vw;
}

.symbolValue {
    padding: 2vh;
}

.robeSelect__image__container {
    display: flex;
}

.symbolSelect__image__container {
    display: flex;
}

.img {
    padding: 2vh;
    width: 8vw;
}

.arrow:hover {
    transform: scale(1.15);
    transition: transform 0.2s;
}

.arrow {    
    padding: 2vh;
    width: 5vw;
    transition: transform 0.2s;
}

.levelImage {
    width: 30vw;
    border: 4px dashed #FFFFFF;
}
  
.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 20vw;
    height: 5vh;
    background: linear-gradient(to right, #d1160d 10%, #ffe7a4 90%);
    background-size: 20vw 1.5vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 2vw;
    height: 2vw;
    background: url("./../images/symbols/0.svg");
}
  
.editor-flex-container {
    display: flex;
    justify-content: space-evenly;
}

.levelSelect__container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

.editor-flex-item {
    text-align: center;
    flex-basis: 100%;
    min-width: fit-content;
    max-width: 15vw;
    padding: 0px 10px;
    margin-top: 5vh;;
}
