html {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* https://stackoverflow.com/a/4407335 */
  
}

.editZone {
  font-size: 5vh;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.editTable {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.overview__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

.levelValue {
  padding: 2vh;
}

.levelSelect__imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.overview__block {
  display: flex;
  flex-direction: column;
  font-size: 5vh;
  height: 4em;
  justify-content: center;
  padding: 2vh;
  text-align: center;
  width: 4em;
}

div#symbolValue {
  min-width: 15vw;
}

.symbolValue {
  padding: 2vh;
}

.robeSelect__image__container {
  display: flex;
}

.symbolSelect__image__container {
  display: flex;
}

.img {
  padding: 2vh;
  width: 8vw;
}

.arrow:hover {
  transform: scale(1.15);
  transition: transform 0.2s;
}

.arrow {
  padding: 2vh;
  transition: transform 0.2s;
  width: 5vw;
}

.levelImage {
  border: 4px dashed #ffffff;
  width: 30vw;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20vw 1.5vh;
  background: linear-gradient(to right, #d1160d 10%, #ffe7a4 90%);
  height: 5vh;
  outline: none;
  overflow: hidden;
  width: 20vw;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: url('./../images/symbols/0.svg');
  height: 2vw;
  width: 2vw;
}

.editor-flex-container {
  display: flex;
  justify-content: space-evenly;
}

.levelSelect__container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
}

.editor-flex-item {
  flex-basis: 100%;
  margin-top: 5vh;
  max-width: 15vw;
  min-width: fit-content;
  padding: 0px 10px;
  text-align: center;
}

