.dropSymbol {
    width: 4vh;
    display: flex;
    transform: rotate(270deg);
    transition: transform 0.3s;
    
}

.navbarContainer {
    position: fixed;
    width: 100%;
}

.navbarOffsetExpanded {
    top: 0vh;
    transition: top 0.6s;
}

.navbarOffsetRetracted {
    top: -4vh;
    transition: top 0.6s;
}

.flex-item, .flex-item a, .flex-item a:visited{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 3vh;
    color: #FFFFFF;
    text-decoration: none;
    flex-basis: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}