.td-buffer {
    width: 3.5vw;
}

.td-buffer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.5vh;
}

.playerDisplay {
    display: inline-block;
    margin: 10px;
    width: 29vw;
}

.cmatw {
    text-align: left;
    font-weight: normal;
    padding: 0 0 6vh 10px;
}

.resultZone {
    margin-bottom: 10px;
    margin-top: 15vh;
    max-width: 90%;
    margin-left: 16%;
}

.symbol {
    padding-left: 10px;
    width: 4.5vh;
    margin-right: 0.5em;
}

.container {
    display: flex;
    color: white;
    text-decoration: unset;
    margin-bottom: 1vh;
}

.resultTable {
    border: 0px;
    font-size: 4vh;
}
