.playerDisplay {
  display: inline-block;
  margin: 10px;
  width: 29vw;
}

.cmatw {
  font-size: 5vh;
  font-weight: normal;
  padding: 0 0 6vh 10px;
  text-align: left;
}

.cmatwPast {
  font-size: 5vh;
  font-weight: normal;
  padding: 5vh 0 2vh 10px;
  text-align: left;
}

.resultZone {
  margin-bottom: 10px;
  margin-left: 16%;
  margin-top: 10vh;
  max-width: 90%;
}

.symbol {
  margin-right: 0.5em;
  padding-left: 10px;
  width: 4.5vh;
}

.container {
  color: white;
  display: flex;
  margin-bottom: 1vh;
  text-decoration: unset;
}

.resultTable {
  border: 0px;
  font-size: 4vh;
}

.companions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 3vh;
  height: 100%;
  width: 100%;
}
