body {
    color: white;
    font-family: 'Pattaya', sans-serif;
    background: url(./../images/cmatw_dark.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dropZone {
    width: 95%;
    height: 33%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px dashed #FFFFFF;
    border-radius: 5px;

    margin-bottom: 10px;
    margin-top: 18%;

    font-size: 3.5vh;
}

.hov:hover {
    text-shadow: -2px 0px 20px rgb(173 162 126 / 80%);
    border-radius: 7px;
    text-decoration: underline;
    background-color: #eff2f51f;
}

.dropSymbol {
    width: 4vh;
    display: flex;
    transform: rotate(270deg);
    transition: transform 0.3s;
}

.navbarContainer {
    position: fixed;
    width: 100%;
}

.navbarOffsetExpanded {
    top: 0vh;
    transition: top 0.6s;
}

.navbarOffsetRetracted {
    top: -4vh;
    transition: top 0.6s;
}

.flex-item, .flex-item a, .flex-item a:visited{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 3vh;
    color: #FFFFFF;
    text-decoration: none;
    flex-basis: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
