html {
    /* -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    /* https://stackoverflow.com/a/4407335 */
  }

body {
    color: white;
    font-family: 'Pattaya', sans-serif;
    background: url(./images/cmatw_dark.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dropZone {
    width: 95%;
    height: 33%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px dashed #FFFFFF;
    border-radius: 5px;

    margin-bottom: 10px;
    margin-top: 18%;

    font-size: 3em; /* change to scalable unit like vw */
}

.editZone {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Patrick Hand SC', cursive;
    font-size: 5vh;

}

.editTable {
    border: 0px;
    font-size: 5vh;
}

.hov:hover {
    text-shadow: -2px 0px 20px rgb(173 162 126 / 80%);
    border-radius: 7px;
    text-decoration: underline;
    background-color: #eff2f51f;
}

#editZone td {
    width: 4vw;
    text-align: center;
    padding: 2vh;
}


.title {
    font-size: 7vh;
    margin-bottom: 8vh;
}

.img {
    padding: 2vh;
    width: 8vw;
}

.arrow:hover {
    transform: scale(1.15);
    transition: transform 0.2s;
}

.arrow {
    transition: transform 0.2s;
}