body {
    color: white;
    font-family: 'Pattaya', sans-serif;
}

td {
    margin-right: 1em;
}

html { 
    background: url(./images/cmatw_sunny.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.playerDisplay {
    display: inline-block;
    margin: 10px;
    color: white;
    text-decoration: unset;
}
.playerDisplay:hover {
    text-decoration: underline;
}

.cmatw {
    text-shadow: -2px 0px 20px rgba(173, 162, 126, 0.8);
}

.resultZone {
    font-family: 'Patrick Hand', cursive;
    font-size: 5vh;

    margin-bottom: 10px;
    margin-top: 6vh;
    max-width: 90%;
    margin-left: 18%;
}

.dropZone {
    width: 95%;
    height: 33%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px dashed #FFFFFF;
    border-radius: 5px;

    margin-bottom: 10px;
    margin-top: 18%;

    font-size: 3em; /* change to scalable unit like vw */
}

.backgroundVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    width:100%;
    max-height:100%;
}

.symbol {
    width: 1em;
    margin-right: 0.5em;
}

.container {
    display: flex;
    margin-right: 11vw;
}

.resultTable {
    border: 0px;
    font-size: 5vh;
}
